.arrow1{
    
    width: 290px;
    height: 47px;
    border-bottom: 3px solid rgb(0, 0, 0);
    transform:
        translateY(20px)
        translateX(60px)
        rotate(-26deg);
    position: absolute;
    top: -33px;
    left: -13px;
    margin-left:400px;
    margin-top:120px;

}
